<%- include('./include/head.ejs')%>
<body>
  <%- include('./include/navbar.ejs')%>
  <!-- User List -->
  <main class="main">
    <% if (profiles.length>0){%>
    <h1>Users</h1>
    <article class="top">
      <div class="flex">
        <div>
          <p>No </p>
        </div>
        <div>
          <p>User Name </p>
        </div>
        <div>
          <p>Password</p>
        </div>
      </div>
    </article>
    <%for(let prof of profiles){ %>
    <article class="val">
      <div class="flex">
        <div>
          <p><%= prof.Sno%></p>
        </div>
        <div>
          <p><%= prof.Username%> </p>
        </div>
        <div>
          <p><%= prof.Password%> </p>
        </div>
      </div>
    </article>
    <% }%>
    <% } else{ %>
    <h1>No Users Added</h1>
      <% } %>



  </main>
  <%- include('./include/end.ejs')%>
